<nav id='menu-ui' class='menu-ui'></nav>
<div id='map' class="map column column-lg-7"></div>

<!-- <h1>Pollster</h1> -->

<div id="precinctProfile" style="display:none;">

  <div>Precinct Name: <span id="precinctLabel"></span></div>
  <div>No. of Voters: <span id="votersLabel"></span></div>
  <div>No. of Votes Cast: <span id="votesLabel"></span></div>
  <div>Turnout Precentage: <span id="turnoutLabel"></span></div>
  <div>Address: <span id="addressLabel"></span></div>
  <div>Year: <span id="yearLabel"></span></div>

</div>
